<!-- 
  Flask template documentation:
  https://flask.palletsprojects.com/en/2.0.x/tutorial/templates/ 
-->

<!-- TODO:  Replace some values in this template with variables. 
            e.g: name, phone number, etc.
-->

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">

    <!-- 
      TODO: Serve static files. 

      The website template gives us HTML. We must replace this HTML with Jinja
      code that will render the equivalent HTML. We should use `url_for` method.
      

      Here the folder is `static`, the filename is css/[file].css

      Flask static files documentation:
      https://flask.palletsprojects.com/en/2.0.x/tutorial/static/
    -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/aos.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
           
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url({{ url_for('static', filename='images/background.jpeg') }} )"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="{{ url_for('static', filename='images/cinniman.JPG') }} " alt="Image"/></a></div> <div class="h2 title"> {{ name }} </div>
          <p class="category text-white">{{ role }}</p>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
            <a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='IMANSresume2.pdf') }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
            <!-- TODO: -->
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://github.com/cinniman" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://www.linkedin.com/in/iman-williamson-6527b9151/" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>I am an UI/UX enthusiast who is always open to learning more about technology. I started my tech journey in college as an OnSite consultant helping faculty and staff with their technological  problems. Once graduating with my Bachelors of Science in Health Sciences with a minor in Informatics I decided I wanted to pursue a career in technology. I joined Google's Black Development Program in hopes of finding a specific area in the tech field to pursue. During that program I discovered my interest in UI/UX and decided that’s what I would like to do. To learn more on the journey, I also joined Google's Coursera UX Professional Certification Program.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">22</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">{{ email }}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">{{ phone }}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Location:</strong></div>
              <div class="col-sm-8">Tampa, Florida</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">English</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <b>Programming Languages:</b> JavaScript, Python, SQL<br><br>
        <b>Tools:</b> Google Cloud Platform <br><br>
        <b>Database Management Systems:</b> MySQL<br><br>
        <b>Internet Technologies:</b> HTML and CSS <br><br>
        <b>Soft skills:</b> Communication, team work, organization, time management, conflict resolution 
      </div>
    </div>
  </div>
</div>

<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>July 2021 - present</p>
            <div class="h5">Google Developer Training Program</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Cloud Fellow</div>
            <p>
              <ul>
                <li>Learn how to operate Google Cloud Platform.</li>  
                <li>Utilize HTML, CSS, Python, and JavaScript, MySQL.</li> 
                <li>On the path to certifications of Cloud Digital Leader and Associate Cloud Engineer.</li> 
                <li>Learn Cloud Engineering, Machine Learning, Firebase.</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>November 2019 - 2021</p>
            <div class="h5">University of Illinois at Urbana-Champaign</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">OnSite Consultant</div>
            <p>
              <ul>
                <li>Trained computer service technician who assisted customers with technological issues.</li>  
                <li>Troubleshoot iOS, linux, and windows software. As well as troubleshooting Mac and PC hardware.</li>  
                <li>Support students and faculty by utilizing technology solutions and interpersonal skills.
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div> 
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2021 - present</p>
            <div class="h5">Certification</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Google UX Design Professional Certificate</div>
            <p class="category">COURSERA</p>
            <p>Relevant Coursework: Use Figma, Adobe XD to develop wireframes and prototypes. Study the design process, how to empathize with users, identify user pain points, and come up with ideas for design solutions.</p>
            <p>
              <b>Project:</b><br>
              <ul>
                <li>Design an entertainment reservation app that will makes planning more convenient.</li>
              </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2021</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">B.Sc in Health Sciences w/ Informatics minor</div>
              <p class="category">University of Illinois at Urbana-Champaign</p>
              <p>Relevant Coursework: IT for Networked Organizations, Intro Computing, Database Design and Management, Usable Privacy and Security</p>
              <p>
                <b>Projects:</b><br>
                <ul>
                  <li>Design an airline awards database on MySQL.</li>
                  <li>Design an app with a developed prototype while taking steps to insure privacy and security risks.</li>
                </ul>
            </p>
            </div>
          </div>
        </div>
      </div>    
    

<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url({{ url_for('static', filename='images/staticmap3.png') }})">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 pl-3 title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">{{ phone }}</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>{{ email }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <a class="cc-google-plus btn btn-link" target="_blank" href="https://github.com/cinniman"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a class="cc-instagram btn btn-link" target="_blank" href="https://www.linkedin.com/in/iman-williamson-6527b9151/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a>
      </div>
      <div class="h4 title text-center">{{ name }}</div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
  </body>
</html>